.chart {
  height: 95vh;
  width: 95vw;
  margin: 0;
}

.label {
  transition: fill 250ms;
  font-size: 50px;
  fill: #333;
  text-anchor: middle;
}

.label.increasing {
  fill: #083;
}

.label.decreasing {
  fill: #B33;
}

.btn.order {
  transition: color 1s, background-color 1s, border-color 1s;
}