body {
}

.chart {
  height: 90vh;
  width: 95vw;
  margin: 2.5vh;
}

.label {
  font-size: 5px;
  fill: #333;
  text-anchor: middle;
}

line {
  stroke: black;
  stroke-width: 0.1;
}

.axis text {
  font: 3px Arial !important;
}

.axis path,
.axis line {
  fill: none;
  stroke: gray;
  stroke-width: 0.1;
  shape-rendering: crispEdges;
}

.btn {
  transition: color 1s, background-color 1s, border-color 1s;
}