body {
  padding: 0px 5vw;
}

.display {
  height: 60vw;
  width: 90vw;
  border: 2px solid gray;
}

#chart {
  border-radius: 3px;
  margin-bottom: 2em;
  overflow: hidden;
  width: 30vw;
}

.line {
  background-color: #eee;
  padding: 3px 1em;
}

.heart {
  background-color: pink;
}

.total {
  background-color: lightblue;
  border-top: 1px solid #2882a1;
}
